@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%23000000' fill-opacity='0.08' fill-rule='evenodd'/%3E%3C/svg%3E");
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%23fefefe' fill-opacity='0.08' fill-rule='evenodd'/%3E%3C/svg%3E");
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Silkscreen-Regular";
  src: url("../public/fonts/Silkscreen-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Silkscreen-Bold";
  src: url("../public/fonts/Silkscreen-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

.blurry-circle {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}

*::-webkit-scrollbar {
  display: none;
}

.popcard {
  animation: popup 0.5s ease;
}

@keyframes popup {
  0% {
    transform: scale(0.01);
    opacity: 0;
  }

  50% {
    transform: scale(1.2);
    opacity: 0.75;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.gradient-btn {
  background-image: linear-gradient(
    to right,
    #1e8b58 0%,
    #25d8c0 51%,
    #0f5540 100%
  );
  transition: 0.4s;
  background-size: 200% auto;
}
.gradient-btn:hover {
  background-position: right center; /* change the direction of the change here */
}

.profilebar {
  animation: fadein 0.5s ease;
  animation: moveDown 0.5s ease;
}

.imgCard {
  animation: fadein 0.8s ease;
}

.scrollUpBtn {
  animation: fadein 0.5s ease;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes moveUp {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes moveDown {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}

.ais-InfiniteHits-sentinel {
  opacity: 0;
}

//small screen media query
@media (max-width: 768px) {
  .social-logo {
    height: 10px;
    width: 10px;
  }
}

.social-logo {
  height: 34px;
  width: 34px;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input::before {
  content: "Upload Image";
  display: inline-block;
  cursor: pointer;
}
.custom-file-input::after {
  content: "";
  display: inline-block;
  cursor: pointer;
}
